.empty-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >p {
        font-size: 36px;
        color: #2a2a2a;
        margin-bottom: 50px;
    }

    >button {
        color: white;
        border: 2px solid #2a2a2a;
        background-color: #2a2a2a;
        width: 200px;
        height: 80px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #1a1a1a;
            border-color: #1a1a1a;
        }
    }
}

.cart-container {
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
    // display: flex;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-block: 40px;
    }

    .cart-item {
        background-color: white;
        width: 80%;
        height: 250px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #ddd;
        padding-inline: 50px;



        .cart-img-cont {
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .cart-img {
                max-width: 100%;
                max-height: 80%;
            }
        }

        .cart-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;

            h4 {
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 500;
            }

            >p {
                font-size: 13px;
                color: #aaa;
            }

        }

        .cart-amount {
            display: flex;
            gap: 15px;
            align-items: center;

            >p:last-of-type {
                width: 20px;
                text-align: center;
            }

            .cart-amount-btn {
                width: 32px;
                height: 32px;
                color: #2a2a2a;
                background-color: white;
                border: 2px solid #2a2a2a;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: #2a2a2a;
                }
            }
        }

        .cart-price {
            font-weight: 500;
        }

        .delete-item-btn {
            width: 40px;
            height: 40px;
            color: #2a2a2a;
            border: 2px solid #2a2a2a;
            background-color: white;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #b12d2d;
                border-color: #b12d2d;
            }
        }
    }

    .cart-total {
        width: 100%;
        height: 100px;
        background-color: white;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        border-top: 1px solid #ddd;
        box-shadow: 0 -1px 10px #aaa;

        .delete-all-btn {
            color: #2a2a2a;
            border: 2px solid #2a2a2a;
            background-color: white;
            width: 200px;
            height: 80px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #b12d2d;
                border-color: #b12d2d;
            }
        }

        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            >h3 {
                font-weight: 500;
                font-size: 20px;
                display: flex;
                align-items: center;

                .cart-total-price {
                    font-weight: 700;
                    font-size: 24px;
                    margin-left: 10px;
                }
            }

            .cart-buy-btn {
                color: white;
                border: 2px solid #2a2a2a;
                background-color: #2a2a2a;
                width: 200px;
                height: 80px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                margin-left: 40px;

                &:hover {
                    background-color: #1a1a1a;
                    border-color: #1a1a1a;
                }
            }
        }
    }
}