.checkout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://firebasestorage.googleapis.com/v0/b/pcsbuilder-53601.appspot.com/o/fondo.jpg?alt=media&token=1c86bbb6-8220-4226-8d11-5e9e410c064d');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 75px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
        width: 500px;
        height: 700px;
        background-color: rgba(#fff, 0.2);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-block: 50px;

        h2 {
            font-size: 28px;
        }

        form {
            height: 70%;
            width: 80%;

            >div {
                display: flex;
                flex-direction: column;
                height: 80%;
                gap: 50px;

                .form-input {
                    color: white;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    width: 100%;
                    font-size: 18px;
                    padding: 5px;

                    &:focus {
                        outline: none;
                    }
                }

            }
            p{
                color: red;
                font-size: 16px;
                text-align: center;
                margin-top: 15px;
            }

            .form-btn {
                color: white;
                background-color: transparent;
                border: 1px solid white;
                padding: 8px;
                width: 100%;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: #2a2a2a;
                }
            }
        }
    }

    .end-checkout{
        width: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        background-color: rgba(#fff, 0.2);
        padding: 60px;
        backdrop-filter: blur(5px);
        .end-checkout-title{
            font-size: 48px;
            margin-bottom: 20px;
        }
        .end-checkout-msg{
            font-size: 24px;
            margin-bottom: 30px;
            span{
                text-decoration: underline;
            }
        }
        .end-checkout-btn{
            color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 8px;
                    width: 80%;
                    font-size: 16px;
                    cursor: pointer;
    
                    &:hover {
                        background-color: white;
                        color: #2a2a2a;
                    }
        }
    }
}