header{
    background: #2a2a2a;
    color: white;
    padding: 10px;
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        h1{
            font-family: 'Aldrich', sans-serif;
            font-size: 42px;
        }
        nav{
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            ul{
                list-style: none;
                display: flex;
                li{
                    padding: 5px;
                    margin: 5px;
                    a{
                        color: white;
                        text-decoration: none;
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            border-bottom: 2px solid white;
                            width: 0%;
                            bottom: 0px;
                            left: 0px;
                            transition: 0.15s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


    





