header {
    background: #2a2a2a;
    color: white;
    padding: 10px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1500;
    height: 70.5px;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .logo {
            text-decoration: none;
            color: white;

            h1 {
                font-family: 'Aldrich', sans-serif;
                font-size: 42px;
                display: flex;
                align-items: start;
                span{
                    font-family: 'Aldrich', sans-serif;
                    font-size: 28px;
                }
            }
        }

        nav {
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            ul {
                list-style: none;
                display: flex;

                li {
                    padding: 10px;
                    // margin: 5px;

                    .navbar-link {
                        color: white;
                        text-decoration: none;
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        
                    }

                    .normal{
                        &::before {
                            position: absolute;
                            content: "";
                            border-bottom: 2px solid white;
                            width: 0%;
                            bottom: 0px;
                            left: 0px;
                            transition: 0.15s;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }

                    .active {
                        border-bottom: 2px solid white;
                    }
                }

                .productos {
                    position: relative;
                    width: 195px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    user-select: none;
                    &:hover {
                        background-color: #222;
                    }

                    .categories {
                        z-index: 100;
                        height: 0;
                        width: 100%;
                        position: absolute;
                        overflow: hidden;
                        display: flex;
                        height: fit-content;
                        flex-direction: column;
                        background-color: #2a2a2a;
                        top: 100%;
                        left: 0;
                        transition: 1s;

                        .category-link {
                            color: white;
                            text-decoration: none;
                            li {
                                height: 100%;
                                width: 100%;
                                margin: 0;
                                padding: 10px 15px;
                                cursor: pointer;
                                &:hover {
                                    background-color: #222;
                                }
                            }
                        }
                    }
                    .hide{
                        display: none;
                    }

                }
            }
        }
    }
}

@media (max-width: 750px) {
    header{
        div{
            nav{
                width: 45%;
                ul{
                    .productos{
                        &:hover{
                            background-color: initial;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 500px){
    header{
        div{
            justify-content: space-evenly;
            .logo{
                h1{
                    font-size: 24px;
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

