div{
    .itemlist{
        width: 80%;
        margin: auto;
        padding: 100px 0;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
        // color: white;
    }
}

@media (max-width:440px){
    div{
        .itemlist{
            display: flex;
            flex-direction: column;
            width: 85%;
            padding-top: 50px;
        }
    }
}